.nav {
    width: 80%;
    margin-top: 50px;
}

.active {
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #247060;
}

.centerItem {
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #18463cd0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 30px white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

li a:hover {
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #205c4f;
}